* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background-color: #fcfcfc;
}

#nav {
    height: 70px;
    width: 100%;
    padding: 15px;
    background-color: #800000;
    border-bottom:solid #fcfcfc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

#listanav{  
    width: 80%;
    color: #fcfcfc;
    font: larger;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
}

.navp:hover{
    text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc, -1px 1px 0 #fcfcfc, 1px 1px 0 #fcfcfc;
    cursor: pointer;
}

#sidebar {
    position:absolute;
    top:70px;
    left:-200px;
    width:200px;
    height:100%;
    background:#1C1E21;
    transition:all 300ms linear;
}

#sidebar.active {
    left:0px;
    position: fixed;
}

.toggle-btn {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#fcfcfc;
    margin:5px 0px;
    cursor:pointer;
}

#sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #999ac6;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
}

#sidebar div.list div.item:hover{
    text-shadow: -1px -1px 0 #999ac6, 1px -1px 0 #999ac6, -1px 1px 0 #999ac6, 1px 1px 0 #999ac6;
    cursor: pointer;
}